@model IEnumerable<BoozeDotNet.Models.Category>

@{
    ViewData["Title"] = "Shop our Store";
}

<h1>Shop our Store</h1>

<section class="row card-group">
    @foreach (var category in Model) {
     <div class="col-lg-4 mb-3">
        <div class="card mb-4">
            <div class="card-body text-center h-100">
                <a asp-controller="Shop" asp-action="Category" 
                    asp-route-categoryName="@category.Name" class="btn btn-secondary">@category.Name</a>
            </div>
        </div>
    </div>
    }
</section>