@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BoozeDotNet</h1>
    <p>ASP.NET Core 6 site built in Fall 2022 for COMP2084G at Lakehead-Georgian.</p>
    <p>Royalty-free images sourced from <a href="https://pixabay.com" target="_blank">Pixabay</a>
        and <a href="https://unsplash.com" target="_blank">Unsplash</a>.</p>
    <p>Font from <a href="https://fonts.google.com" target="_blank">Google Fonts</a>.</p>
    <p>Colour Palette from <a href="https://materialpalette.com" target="_blank">Material Palette.</a></p>
</div>
